body{
    background-color: #B2B4A8;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    padding: 0px auto;
}

/*div home*/

.div-home{
    position: absolute;
    top: 30%; /* Ajusta verticalmente según sea necesario */
    left: 50%; /* Ajusta horizontalmente según sea necesario */
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegura que el título esté sobre el carrusel */
}

.h1-home{
    font-size: 50px;
    color: #E6E5DB;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.h4-home{
    font-size: 20px;
    color: rgb(230, 229, 219, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.titulo-page{
    font-size: 30px;
    color: #E6E5DB;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logosfooter{
    width: 20px;
    height: 20px;
}

/*TITULO H1*/

@-webkit-keyframes fadeInUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

/*h4 home*/
@-webkit-keyframes fadeIn {
    from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}


/*carrousel*/

.carousel-container{
    position: relative;
}

.custom-carousel img {
    width: 100%;
    height: 800px;
}

/*BTN NAVBAR*/

.btnNavbar{
    color:#D7D2E0
}

.btnNavbar:hover{
    color:#fcf414;
}

/*nuevo loader*/

.superballs {
    --uib-size: 45px;
    --uib-speed: 1.1s;
    --uib-color: #3b3b23;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-size);
    width: var(--uib-size);
}

.superballs__dot {
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}

.superballs__dot::before {
content: '';
height: 30%;
width: 30%;
border-radius: 50%;
background-color: var(--uib-color);
will-change: transform;
flex-shrink: 0;
}

.superballs__dot:nth-child(1) {
transform: rotate(45deg);
}

.superballs__dot:nth-child(1)::before {
animation: orbit82140 var(--uib-speed) linear calc(var(--uib-speed) * -0.143)
    infinite;
}

.superballs__dot:nth-child(2) {
transform: rotate(-45deg);
}

.superballs__dot:nth-child(2)::before {
animation: orbit82140 var(--uib-speed) linear calc(var(--uib-speed) / -2)
    infinite;
}

@keyframes orbit82140 {
0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
}

5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
}

10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
}

15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
}

20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
}

25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
}

30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
}

35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
}

40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
}

45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
}

50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
}

55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
}

60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
}

65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
}

70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
}

75% {
    transform: translate(0%) scale(1);
    opacity: 1;
}

80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
}

85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
}

90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
}

95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
}

100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
}
}

/*button go shop*/

.btnGoshop {
    color: #141313;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight:600;
}

.btnGoshop::before {
margin-left: auto;
}

.btnGoshop::after, .btnGoshop::before {
content: '';
width: 0%;
height: 2px;
background: #7a7272e0;
display: block;
transition: 0.5s;
}

.btnGoshop:hover::after, .btnGoshop:hover::before {
width: 100%;
}

/*formulario*/

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}

.login-box p:first-child {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
font-size: 1.5rem;
font-weight: bold;
letter-spacing: 1px;
}

.login-box .user-box {
position: relative;
}

.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}

.login-box .user-box label {
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
color: #fff;
font-size: 12px;
}

.login-box form a {
position: relative;
display: inline-block;
padding: 10px 20px;
font-weight: bold;
color: #fff;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
margin-top: 40px;
letter-spacing: 3px
}

.login-box a:hover {
background: #fff;
color: #272727;
border-radius: 5px;
}

.login-box a span {
position: absolute;
display: block;
}

.login-box a span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #fff);
animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
0% {
    left: -100%;
}

50%,100% {
    left: 100%;
}
}

.login-box a span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #fff);
animation: btn-anim2 1.5s linear infinite;
animation-delay: .375s
}

@keyframes btn-anim2 {
0% {
    top: -100%;
}

50%,100% {
    top: 100%;
}
}

.login-box a span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #fff);
animation: btn-anim3 1.5s linear infinite;
animation-delay: .75s
}

@keyframes btn-anim3 {
0% {
    right: -100%;
}

50%,100% {
    right: 100%;
}
}

.login-box a span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #fff);
animation: btn-anim4 1.5s linear infinite;
animation-delay: 1.125s
}

@keyframes btn-anim4 {
0% {
    bottom: -100%;
}

50%,100% {
    bottom: 100%;
}
}

.login-box p:last-child {
color: #aaa;
font-size: 14px;
}

.login-box a.a2 {
color: #fff;
text-decoration: none;
}

.login-box a.a2:hover {
background: transparent;
color: #aaa;
border-radius: 5px;
}

/*entrada btn go shop*/
@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }